@import "./reset";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Pacifico';
    font-family: 'Abril Fatface', serif;
    .header-wraper{
        background: linear-gradient(90deg, rgba(179,231,235,1) 7%, rgba(152,141,209,1) 52%, rgba(230,184,207,1) 93%);
        padding: 30px 0;
        position: relative;
        position: sticky;
        top: 0px;
    }
    .wrapper{
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .logo-name{
        font-family: 'Pacifico';
        font-size: 30px;
        font-weight: 400;
    }
    a{
        color: #fff;
        padding: 7px 15px;

        &:hover{
            color: black;
        }
    }
    ul{
        padding: 5px 0;
        display: flex;
    }
    .burger-icon {
        display: none;
    }
    @media (max-width: 768px){
        .wrapper, 
        ul{
            display: block;
            text-align: center;
        }   
        .nav-a{
            display: block;
        }  
        .social-icons{
            display: flex;
            justify-content: center; 
        } 
        .logo{
            text-align: left;
        }
        .burger-icon{
            color: #fff;
            display: block;
            font-size: 30px;
            position: absolute;
            top: 40px;
            right: 30px;
            cursor:pointer;
        }
        .menu-ul,
        .social-icons{
            display: none;
        }   
        .menu-ul.open-menu{
            display: block;
        } 
        social-icons.open-socicon{
            display: flex;
        } 
    }
    main{
        display: inline-block;
        width: 100%;
        height: 700px;
        background-image: url(../imeges/korea4.jpg);
        background-position: center;
        .main-text{
            width: 438px;
            height: 350px;
            margin: 100px auto 0px;
            padding: 25px;
            text-align: center;
            h1{
                text-align: center;
                font-family: 'Abril Fatface';
                font-size: 44px;
                font-weight: 400;
                line-height: 52px;
                color: #fff;
                margin-bottom: 50px;
            }
            .learn-more{
                padding: 20px 30px;
                background: rgb(67, 6, 117);
                border-radius: 30px;
                font-family: 'Roboto';
                font-size: 16px;
                font-weight: 500;
                color: rgb(197, 193, 197);
                margin: auto;

                &:hover{
                    color: white;
                }
            }
        }
    }

    .info-korea, .travel-info, .korean-food, .trasport-info, .learning{
        width: 100%;
        max-width: 1590px;
        min-height: 500px;
        margin: 100px auto;
        padding: 16px 20px;
        background: radial-gradient(circle, rgba(250,250,250,1) 12%, rgba(182,213,249,1) 100%);

        h2{
            font-family: 'Abril Fatface';
            font-size: 35px;
            font-weight: 400;
            margin-bottom: 30px;
        }
        p{
            font-family: 'Roboto';
            font-size: 18px;
            font-weight: 400;
            color: rgb(107, 88, 192);
            margin: 15px 5px;
            line-height: 22px;
        }
        img{
            width: auto;
            height: auto;
            max-width: 100%;
        }
    }

    .travel-info{
        background: radial-gradient(circle, rgba(250,250,250,1) 12%, rgba(245,182,249,1) 100%);
    }

    .travel-time{
        width: 100%;
        max-width: 1590px;
        min-height: 500px;
        margin: 100px auto;
        padding: 16px 20px;
        background: radial-gradient(circle, rgba(250,250,250,1) 12%, rgba(242,186,203,1) 100%);

        h2{
            font-family: 'Abril Fatface';
            font-size: 35px;
            font-weight: 400;
            margin-bottom: 30px;

        }
        p{
            font-family: 'Roboto';
            font-size: 20px;
            font-weight: 700;
            color: #472249;
            margin: 15px 5px;
            line-height: 22px;

        }
        .places{
            h3{
                font-family: 'Abril Fatface';
                font-size: 27px;
                font-weight: 400;
                color: black;
                margin: 15px 5px;
            }
            p{
                font-family: 'Roboto';
                font-size: 18px;
                font-weight: 400;
                color: #472249;
                margin: 7px 10px;
                line-height: 30px;
            }
           .soul-poto{
                margin: 30px 0px 50px;

                img{
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    margin-right: 20px;
                }
           } 
        }
    }

    .korean-food{
        background: radial-gradient(circle, rgba(250,250,250,1) 12%, rgba(150,104,230,1) 100%);

        p{
            color: #43095e;
        }
        .food-poto{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }   

    .trasport-info{
        background: radial-gradient(circle, rgba(250,250,250,1) 12%, rgba(186,242,219,1) 100%);

        p{
            color: rgb(22, 46, 22);
        }
    }

    .learning{
        
        background: radial-gradient(circle, rgba(234,230,236,1) 0%, rgba(210,76,92,1) 88%);
    }
}

@import "./responsive";