@import "./reset";
@import "./responsive";
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,600;1,700;1,800&family=Rubik+Bubbles&family=Vollkorn:ital,wght@1,400;1,700&display=swap&family=IBM+Plex+Mono:ital,wght@1,700&display=swap');

body{
    font-family: 'Mulish', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Vollkorn', serif;

    .header-wraper{
        background: linear-gradient(0deg, rgba(0,0,0,1) 63%, rgba(255,255,255,1) 67%);
        padding: 30px 0;
        position: relative;
    
        .wrapper{
            max-width: 1170px;
            width: 100%;
            height: 46px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .page-name{
            height: 30px;
            color:white;
            text-align: center;
            font-family: "IBM Plex Mono";
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; 
        }

        a{
            color: white;
        }

        .sing-in{
            color: black;
            font-size: 19px;
            border-radius: 25px;
            padding: 10px 40px ;
            background: linear-gradient(0deg, rgba(255,255,255,1) 66%, rgba(0,0,0,1) 69%);
        }

        ul{
            padding: 12px 0;
            display: flex;
            column-gap: 20px;
        }

        .burger-icon {
            display: none;
        }
    
        @media (max-width: 768px){
            .wrapper, 
            ul{
                display: block;
                text-align: center;
            }   
            .nav-a{
                display: block;
            }  
            .social-icons{
                display: flex;
                justify-content: center; 
            } 
            .logo{
                text-align: left;
            }
            .burger-icon{
                color: #fff;
                display: block;
                font-size: 30px;
                position: absolute;
                top: 40px;
                right: 30px;
                cursor:pointer;
            }
            .menu-ul,.social-icons{
                display: none;
            }   
            .menu-ul.open-menu{
                display: block;
            } 
            .social-icons.open-socicon{
                display: flex;
            }
        }
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        height: 740px;
        background-image: url(../imeges/tour9.jpg);
        background-position: top;

        h1{
            color: white;
            text-shadow: 0px 5px 13px rgba(255, 255, 255, 0.40);
            font-family: "Vollkorn";
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 168px 0px 10px;
        }

        p{
            max-width: 100%;
            width: 569px;
            height: 70px;
            text-align: center;
            color: white;
            text-shadow: 0px 1px 20px #FFF;
            font-family: 'Mulish';
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 25px;
        }

        .search{
            border-radius: 50px;
            background: rgba(255, 255, 255, 0.774);
            color: rgb(9, 14, 9);
            font-family: 'Mulish';
            font-size: 16px;
            font-style: normal;
            font-weight: 800;
            line-height: 22px;
            padding: 15px 45px;
            margin: 100px;
        }
        
    } 
    
    .location-sector{
        max-width: 100%;
        // width: 1500px;
        height: 1200px;
        // margin: auto;

        h2{
            color: #1C2B38;
            text-align: center;
            text-shadow: 0px 5px 13px rgba(255, 255, 255, 0.40);
            font-family: 'Vollkorn';
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 70px 0px 30px;
        }

        p{
            max-width: 100%;
            width: 696px;
            height: 50px;
            color: var(--dark-60, #778088);
            text-align: center;
            font-family: 'Mulish';
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 25px;
            margin:0px auto 50px; 
        }
        .location{
            max-width: 100%;
            width: 1300px;
            height: 44px;
            display: flex;
            column-gap: 20px;
            margin: auto;

            a{
                max-width: 100%;
                width: 144px;
                height: 54px;
                padding: 14px 0px;
                border-radius: 30px;
                border: 1px solid #c615cc;
                box-shadow: 5px -8px 151px -26px rgba(163,19,166,0.81);
                -webkit-box-shadow: 5px -8px 151px -26px rgba(163,19,166,0.81);
                -moz-box-shadow: 5px -8px 151px -26px rgba(163,19,166,0.81);
                color: black;
                text-align: center;
                font-family: 'Mulish';
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
    
}